.page {
    width: 100%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    line-height: 100%;
    color: #000000;   
}
.paragraph {
    white-space: pre-line;
    font-weight: 300;
}
.input {
    width: 190px;
    height: 50px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 8px;
}
.input:hover {
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: inherit;
}
.li {
    line-height: 150%;
    font-weight: 300;
}
.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #000000;   
}
.header__logo {
    margin-left: 30px;        
    font-size: 25px;   
    color: #ffffff;
}
.header__link:hover {
    color: #4ed632;
}
.navigation__list {
    list-style-type: none;
    margin-right: 30px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: #000000;    
}
.navigation__item {
    display: inline;
    padding-right: 20px;
    font-size: 15px;    
    color: #ffffff;
}
.navigation__item:hover {
    color: #4ed632;
}
.highlight-slider {
    height: 200px;    
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, #3a6240, #6f9356);
}
.highlight-slider__header,
.highlight-slider__sub-header {
    color: #ffffff;
    text-shadow: 0px 2px 1px #000000;
}
.highlight-slider__header {
    padding-top: 70px;    
    font-size: 50px;    
}
.highlight-slider__sub-header {
    padding-top: 35px;
    font-weight: bold;
}
.about-wrapper {    
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-wrapper__main-title {
    text-align: center;
    font-size: 30px;
    color: #777777;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;   
    border-bottom: 2px solid #000000;
}
.promo-slider {   
    width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: center;     
   
}
.about-company {    
    width: 48%;
    display: flex;
    justify-content: flex-start;   
    flex-direction: column;
}
.about-company__bio {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777777;
    font-size: 18px;
    font-weight: 600;
    white-space: pre-line;
    line-height: 110%;
}
.about-company__main-title_dark-green {
    color: #417630;
}
.list-columns {
    margin: 15px;
    display: table;    
}
.about-company__columns {
    display: table-row;
}
.about-company__left-list {
    padding: 15px;
    display: table-cell;
}
.about-company__right-list {
    padding: 15px;
    display: table-cell;
}
.about-company__list_disc {
    list-style: disc;   
    font-weight: 300;
}
.card-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;    
}
.card {
    width: 375px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #e6e6e6; 
    border-radius: 5px;   
}
.card-premium {
    width: 375px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #417630; 
    border-radius: 5px;   
}
.card__top-wrapper {
    width: 90%;
    height: 50%;
    display: flex;   
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #e6e6e6;    
}
.card__top-wrapper_business {
    width: 100%;
    height: 50%;
    display: flex;   
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #e6e6e6; 
    background-color: #417630;   
}
.card__about {    
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.card__purchase:hover {
    color: #ffffff;
    background-color: #417630;
}
.card__purchase_green {
    color: #ffffff;
    background-color: #417630;
}
.price__header {
    color: #777777;
    font-size: 25px;
    font-weight: 700;
}
.price__header_white {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}
.price__amount {
    color: #417630;
    font-family: Arial, sans-serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 110%;
}
.price__amount_white {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 110%;
}
.price__symbol {
    vertical-align: middle;
    color: #000000;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 26px;    
}
.price__symbol_white {
    vertical-align: middle;
    color: #ffffff;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 26px;    
}

.price__per-user {
    font-weight: 100;
}
.price__per-user_white {
    color: #ffffff;
    font-weight: 100;
}
.footer {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right bottom, #244319, #2F4F1D);
}